* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 20px;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: 'Raleway', sans-serif;
  align-items: center;
  background: #f0f0f0;
}

.draggable-main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.content {
  position: relative;
  width: 320px;
  height: 240px;
}

.content > div {
  position: absolute;
  width: 320px;
  height: 90px;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  border-radius: 5px;
  color: white;
  line-height: 90px;
  padding-left: 32px;
  font-size: 14.5px;
  background: lightblue;
  letter-spacing: 2px;
}